body{
    margin: 50px 100px;
    Font-size: 18px;
    background-color:  hsl(207, 33%, 95%);
}
header{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    margin-top: 100px;
}
h1{
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cont{
    font-size: 20px;
    width: 850px;
}
.img1{
    width: 400px;
}
input{
    height:65px;
    width: 400px;
    font-size: 18px;
}
.join{
    background-color:hsl(255deg 43% 28%) ;
    color: white;
    padding: 20px 25px;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 5px;
}
.learn{
    color: white;
    background-color: hsl(255deg 43% 28%);
    padding: 10px 30px;
    border-radius:25px;
}
.learn a{
    color: white;
    text-decoration: underline;
}


